@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
  padding: 10px 30px 10px 30px;
}

header {
  background-color: white;
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /*box-shadow: inset 0px -19px 20px -18px rgb(0 0 0 / 50%);*/
}



.menu {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}


.menu a {
  margin: 30px;
  font-family: "Protest Riot", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;

}

.logo {
  max-width: 200px;
}

.search {
  height: 25px;
}

.body {
  margin: 0 auto;
  max-width: 1443px;
  background-color: white;
  padding: 0 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 28px 4px rgb(0 0 0 / 50%);
  border-radius: 60px;

}

.intro {
  max-height: 613px;
  border-radius: 60px;

}

.titlas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlea {
  font-size: 100px;
}

.bodya {
  font-size: 20px;

}

.btn {
  padding: 5px 20px 5px 20px;
  font-size: 30px;
  font-family: "Protest Riot", sans-serif;
  border: 1px solid black;
  border-radius: 50px;
  width: 50%;

}

.spacing {
  height: 30px;
}

.btn:hover {
  color: white;
  background-color: #D946FC;
  border: 0;
}


.menuL:hover {
  color: #D946FC;
  text-decoration: underline;
}

.element {
  padding: 30px;
  margin: 0 auto;
  width: 1000px;
  display: flex;
  overflow: scroll;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;



}

.spacer2 {
  height: 70px;
}

.element img {
  width: 200px;
  height: 200px;

  object-fit: cover;

}

.product-content {
  margin: 0 70px 0 60px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: bold;
}


::-webkit-scrollbar {
  display: none;
}

.product:hover .product-content {

  border-radius: 20px;
  box-shadow: 0 2px 28px 4px rgb(0 0 0 / 50%);
  border: 0;

}

.product:hover .img {

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;



}

.content-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Protest Riot", sans-serif;

}


footer {
  margin: 0 auto;
  display: flex;
  height: 20px;

  justify-content: center;
  align-items: center;
  font-family: "Protest Riot", sans-serif;
  font-size: xx-small;

}

.contact {
  margin: 0 auto;
}

label {
  font-family: "Protest Riot", sans-serif;

}

textarea {
  font-family: "Protest Riot", sans-serif;

}

input {
  font-family: "Protest Riot", sans-serif;

}